xml/1536134676723/源代码/源代码 第四章/4-1/4-1.xsd

<?xml version="1.0" encoding="gb2312"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3school.com.cn"
xmlns="http://www.w3school.com.cn"
elementFormDefault="qualified">
<xs:element name="图书">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="书名" type="xs:string"/>
	<xs:element name="作者" type="xs:string"/>
	<xs:element name="主要内容" type="xs:string"/>
	<xs:element name="出版社" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
