xml/1536134676723/源代码/源代码 第四章/4-4/4-4.xsd

<?xml version="1.0" encoding="gb2312"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3school.com.cn"
xmlns="http://www.w3school.com.cn"
elementFormDefault="qualified">
 <xs:element name="CPU">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="型号" type="xs:string" />
          <xs:element name="价格" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
 <xs:attribute name="品牌" type="xs:string" use="xs:required" default="IBM"/>
  </xs:element>
</xs:schema>