xml/gk172-07/2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="学生名册">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="学生" type="学生列表"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="学生列表">
		<xs:sequence>
			<xs:element name="姓名" type="xs:string"/>
			<xs:element name="性别" type="xs:string"/>
			<xs:element name="年龄" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="学号" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
